Source: ros-groovy-oculus-sdk
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), cmake, freeglut3-dev, libudev-dev, libxext-dev, libxinerama-dev, mesa-common-dev
Homepage: https://developer.oculusvr.com
Standards-Version: 3.9.2

Package: ros-groovy-oculus-sdk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libudev-dev
Description: The Oculus Rift SDK
